{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Songs{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>Id</b></th>
    <th><b>Composer</b></th>
    <th><b>Duration</b></th>
    <th><b>Title </b></th>
   </tr>
   
  {% for song in songs %}
    <tr>
      <td><a href="/songs/{{ song.IdSong}}">{{song.IdSong}}</a></td>
      <td>{{ song.Composer }}</td>
      <td>{{ song.Duration }}</td>
      <td>{{ song.Title }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}

